.table-home{
    display:flex;
   
}
.table1{

    margin-top: 50px;
    /* margin-left: 100px; */

}

.span-row{
    display: flex;
 
}

.table-value{
    /* margin-left: 100px; */
    align-items:flex-start;
}

.table-home-col-2{

    /* margin-left: 100px; */
}

.table-label{
    font-weight: bold;
}

.main-page-data{
    display: flex;
}

.data-col-2{
    /* margin-left: 100px; */
    overflow: hidden;  

    margin-left: 10em;
}
.data-heading{
    margin-left: 2em;
}
.data-button{

    margin-top: 30px;
    /* margin-left: 10px; */
}

.btn-width{

    width: 350px;
}

.or{

    text-align: center;
}
.links{
    display: flex;
}
.link2, .block-info{
    /* margin-left: 80px; */
}